/* Variables */
$text-light: #ffffff;
$text-main: #34495e;

$color-blue: #3498db;
$color-green: #2ecc71;
$color-red: #c0392b;

$font-title: 'Signika', sans-serif;
$font-main: 'Inconsolata', monospace;

$transition: transition all 1s;

/* Global */
*, *::before, *::after {
        box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-main;
    color: $text-main;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
section {
    padding: 96px 0;
}
.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
}
.btn {
    display: inline-block;
    min-width: 160px;
    // margin: 24px 0 auto 0;
    padding: 16px;
    border-radius: 5px;
    font-family: $text-main;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid;
    transition: all 1s;
    background-position: 100% 0;
    background-size: 300%;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Navigation */
.navigation {
    background: $color-blue;
    padding: 12px 0;
}
.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}
   li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
    }   
        a {
        text-decoration: none;
        color: $text-light;
        }

a:hover{
    color: $color-green;
}
.navigation ul ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
    background: $text-light;
    

    li {
    display: none;
    margin-bottom: 12px;
    padding: 0 24px;
        a {
        color: $color-blue;
        }
    }
}
.navigation li:hover ul li {
    display: block;
    text-align: left;
}

/* Splash */
.splash {
    display: flex;
    background: $color-blue;
    color: $text-light;
    min-height: 500px;
}
.splash-inner {
    margin: auto;
    max-width: 70%;
}
.page-title {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    word-spacing: -24px;
    line-height: 1.2;
}
.page-subtitle {
    margin: 24px 0;
    font-weight: 400;
    font-size: 16px;
}
.page-title span {
    font-style: bolder;
}
.btn-one:hover {
    background: linear-gradient(90deg, #ffffff 100%, transparent 50%);
    background-position: 0 100%;
    color: $color-blue;
}

/* Services */
.container .services-title {
    font-size: 48px;
    margin: 0 0 72px 0;
}
.wrapper-design, .wrapper-code, .wrapper-marketing {
    display: flex;
    flex: 0 0 30%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
        p:first-of-type {
            font-weight: bold;
        }
}
.design-title, .code-title, .marketing-title {
    font-family: $font-title;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 12px 0;
}
.wrapper span {
    position: absolute;
    font-size: 144px;
    line-height: 1;
    color: $color-green;
    opacity: 0.5;
    top: -24px;
    left: -6px;
}
.btn-two {
    color: $color-blue;
    border: solid 2px $color-blue;
}
.btn-three {
    color: $color-green;
    border: solid 2px $color-green;
}
.btn-four {
    color: $color-red;
    border: solid 2px $color-red;
}
/* Work */
article {
    flex: 0 0 50%;
    position: relative;
    min-height: 300px;
    margin: 0 0 96px 0;
}
article .work-img {
    float: left;
    width: 50%;
    height: 100%;
      
}
article .work-img::after {
    height: 100%;
    width: 50%;
    position: absolute;
    display: block;
    background: $color-green;
    content: '';
    opacity: 0.3;
    bottom: -10px; 
    opacity: 0.6;
	transition: all 1s;
    
}
article .work-img:hover::after {
    opacity: 0.2;
	top: 0;
	left: 0;
}
	
article .work-img img {
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    
}
article .work-description {
    float: right;
    width: 50%;
    height: 100%;
}
article .work-description p:last-of-type {
    font-weight: bold;
}


/* Contact */
.contact{
    flex: 2 0 0;
    background: $color-blue;
    color: $text-light;
}
.contact-data .contact-title {
    flex: 1 0 0;
    font-size: 20px;
    font-family: $font-title;
    font-weight: bold;
}
.contact form input, textarea{
    width: 100%;
    color: $text-light;
    background: $color-blue;
    padding: 0 96px 0 0;
    text-decoration: none;
    border: 0;
    border-bottom: 2px solid $text-light; 
}
.contact form .btn-five {
    width: 160px;
    color: $text-light;
    border: 2px solid;
    padding: 16px;
}
.contact form .btn-five:hover {
    background: linear-gradient(90deg, #ffffff 50%, transparent 100%);
    background-position: 0 100%;
    color: $color-blue;
}
/* Footer */
.footer {   
    display: flex;    
        ul li {
            margin: 48px 0;
            font-size: 0;             
            a {
                color: $color-red;
                i {
                    font-size: 30px;
                    background: $color-red;
                    color: $text-light;
                    height: 60px;
                    width: 60px;                    
                    border-radius: 50%;                    
                    transition: all 0.5s; 
                    display:flex;
                    justify-content: center;
                    align-items: center;
                }
            }        
        }
    }   
.footer ul li a i:hover {
    transform: scale(1.2);
}
/* Media */
@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
    }
    article .work-img {
    position: relative;
    width: 70%;
    height: 150px;    
    }
    article .work-description {
        width: 100%;
    }
    .contact .contact-data {
        margin: 16px 0 0 0;
    }
    .wrapper-design, .wrapper-code, .wrapper-marketing {
    flex: 0 0 33.0%;
    position: relative;
    padding: 0 0 16px 0;
    }
    .wrapper-box {
        margin: 0;
    }
    .work {
        padding: 48px 0;
    }
}